{
  "singleQuote": true,
  "tabWidth": 2,
  "semi": true,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.{ts,tsx,mjs,js,jsx}",
      "options": {
        "parser": "typescript",
        "trailingComma": "all",
        "printWidth": 120,
        "arrowParens": "avoid"
      }
    },
    {
      "files": "*.scss",
      "options": {
        "parser": "scss"
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}