@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: normal;
  src:
    url('../assets/fonts/fira-code-regular.ttf') format('ttf'),
    url('../assets/fonts/fira-code-regular.woff2') format('woff2'),
    url('../assets/fonts/fira-code-regular.woff') format('woff');
}

@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: normal;
  src:
    url('../assets/fonts/fira-sans-condensed-regular.ttf') format('ttf'),
    url('../assets/fonts/fira-sans-condensed-regular.woff2') format('woff2'),
    url('../assets/fonts/fira-sans-condensed-regular.woff') format('woff');
}

@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: bold;
  src:
    url('../assets/fonts/fira-sans-condensed-medium.ttf') format('ttf'),
    url('../assets/fonts/fira-sans-condensed-medium.woff2') format('woff2'),
    url('../assets/fonts/fira-sans-condensed-medium.woff') format('woff');
}
