@use '../../tokens/variables' as *;

.wrapper {
  padding: 0 $spacing-extra-large;
  background-color: transparent;

  &[data-painted='true'] {
    background-color: $color-light-neutral-primary;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: $spacing-large;
  margin: auto;
  width: 100%;
  max-width: $content-size-width-page;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: $spacing-large;

  & > *:nth-child(n) {
    flex: 1;
  }
}
