@use '../../../shared/ui/tokens/variables' as *;

.content {
  width: 100%;
  display: flex;
  padding: $spacing-normal $spacing-big;
  flex-direction: column;
  justify-content: center;
  gap: $spacing-big;

  p {
    margin: 0;
    color: $color-dark-neutral-primary;
    font-weight: normal;
  }
}

.actions {
  display: flex;
  flex-direction: column;
  gap: $spacing-normal;

  .elk {
    color: $color-dark-neutral-primary;
  }
}
