@use '../../../shared/ui/tokens/variables' as *;

.content {
  max-width: 700px;
  display: flex;
  padding: 10px 30px;
  flex-direction: column;
  justify-content: center;
  gap: $spacing-normal;

  p {
    margin: 0;
  }
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .elk {
    color: $color-dark-neutral-primary;
  }
}
