@use 'shared/ui/tokens/variables' as *;

.layout {
  min-height: 100vh;
  min-width: $content-size-width-page;
  display: flex;
  flex-direction: column;
  background-color: #302c42;


  .container {
    min-height: 100vh;
    display: flex;
    background: linear-gradient(
      330.51deg,
      rgba(255, 149, 20, 0.28) 0%,
      rgba(255, 149, 20, 0) 33.6%,
      rgba(255, 255, 255, 0) 62.55%,
      rgba(255, 255, 255, 0.3) 99.25%
    );

    .main {
      display: flex;
      flex-direction: column;
      gap: $spacing-large;
      flex: 1;
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    min-width: inherit;
  }
}
